<!DOCTYPE html>
<html>
    <head>
        <title>ToDo List</title>
        <script type="text/javascript" src="/backbone/min/js/main.js"></script>
        <link rel="stylesheet" href="/backbone/min/css/main.css"/>

        <script id="todoListItemTemplate" type="text/template">
            <a href="#show/<%= id %>"><%= title ? title : 'Empty title' %></a>
            <a href="#edit/<%= id %>">Edit</a>
        </script>
        <script id="todoFullTemplate" type="text/template">
            <div>Title: <%= title %></div>
            <div>Description:</div>
            <pre class="info"><%= description %></pre>
            <button class="delete">Delete</button>
        </script>
        <script id="todoEditTemplate" type="text/template">
            Edit task
            <div>
                <label>Title: <input class="title" type="text" value="<%= title %>"/></label>
            </div>
            <div>
                <label><div>Description: </div><textarea class="description" cols="30" rows="2"><%= description %></textarea></label>
            </div>
            <div>
                <button class="edit">Edit</button>
            </div>
        </script>
        <script id="todoCreateTemplate" type="text/template">
            Task creation
            <div>
                <label>Title: <input class="title" type="text"/></label>
            </div>
            <div>
                <label><div>Description: </div><textarea class="description" cols="30" rows="2"></textarea></label>
            </div>
            <div>
                <button class="create">Create</button>
            </div>
        </script>
        <script id="todoBackToMainLinkTemplate" type="text/template">
            <a class="m10 iblock hidden" href="#show/">Back to all</a>
        </script>
        <script id="todoCreateLinkTemplate" type="text/template">
            <a class="m10 iblock hidden" href="#create/">Create new task</a>
        </script>
    </head>
    <body>
        <div id="content" class="content-wrapper"></div>
    </body>
</html>